<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/main.css">
    <title>comanda</title>
</head>

<body>

    <!-- inicio del header -->
    <header>

        <nav class="navbar flex-row container">

            <picture class="logo">
                <a href="../../index.html"><img class="logoCentrado" src="/assets/images/logo-dulcepetuña-bnyd.png"
                        width="100%" height="150em" alt="logo de la marca Dulce Petuña"></a>
            </picture>

            <ul class="menu flex-row">
                <li class="menu__item"><a href="nosotros.html
            " class="menu__link">Nosotros</a>
                </li>
                <li class="menu__item"><a href="productos.html
            " class="menu__link">Productos</a>
                    <ul class="subMenu">
                        <li class="subMenu__item"><a href="
                    " class="subMenu__link">Petuñas</a>
                        </li>
                        <li class="subMenu__item"><a href="
                    " class="subMenu__link">mini Petuñas</a>
                        </li>
                        <li class="subMenu__item"><a href="
                    " class="subMenu__link">Cupcakes</a>
                        </li>
                        <li class="subMenu__item"><a href="
                    " class="subMenu__link">Macarons</a>
                        </li>
                        <li class="subMenu__item"><a href="
                    " class="subMenu__link">Galletuñas</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item"><a href="pedidos.html
            " class="menu__link">Pedidos</a>
                </li>
                <li class="menu__item"><a href="contacto.html
            " class="menu__link">contacto</a>
                </li>
            </ul>
        </nav>

       
    </header>

    <!-- inicio del main -->
    <main>
        <form action="" method="post" enctype="">
            <h2>Petuñas</h2>
            <ul>
                <li>petu chocos</li>
                <label for="petu chocos"></label>
                <input type="number" name=petuchoco id="petuchoco" placeholder><br>
                <li>petu maracuya</li>
                <input type="number" name=petumaracuya id="petumaracuya" placeholder><br>
                <li>petu lemon</li>
                <input type="number" name=petulemon id="petulemos" placeholder><br>
                <li>petu mousse</li>
                <input type="number" name=petumousse id="petumousse" placeholder><br>
            </ul>

            <h2>Mini Petus</h2>
            <ul>
                <li>mini chocos</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>mini maracuya</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>mini lemon</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>mini mousse</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
            </ul>

            <h2>Macarons</h2>
            <ul>
                <li>frutilla</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>macas limon</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>


                <li>macas frutos rojos</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>macas pistacho</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
            </ul>

            <h2>Capcakes</h2>
            <ul>
                <li>oreo</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>crema del cielo</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>chispas</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>espuma pink</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>espuma moka</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
            </ul>

            <h2>Galletuñas</h2>
            <ul>
                <li>chocolate rellenas</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>

                <li>vainilla bañadas</li>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x6 u">x 6unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x12 u">x 12unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x24 u">x 24unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
                <input type="checkbox" name="opcionmultiple" id="opcionmultiple" value="x36 u">x 36unidades
                <input type="number" name=cantidad id="cantidad" placeholder>cajas<br>
            </ul>
            <button type="submit"> enviar data</button>
        </form>
</body>

</html>