<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Dulce Petuña, provee pasteleria artesanal a restaurantes, confiterías, hoteles, kioscos boutique y eventos.Producimos tortas tradicionales, cupcakes,macarons y galletas dulces.">
    <meta name="keywords"
        content="PASTELERIA, MESA DULCE,CHESSE CAKE, CHOCOTORTA, MOUSSE DE CHOCOLATE,LEMON PIE, CUPCAKES, MACARONS, GALLETITAS, EVENTOS ">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Contacto DULCE PETUÑA Ricooo Escribinos, recibiras asesoramiento sobre nuestros productos.</title>
</head>

<body>
    <!-- inicio del header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div>
                    <a href="../../index.html">
                        <img src="../images/logo.png"
                            alt="Contorno de un cupcake hecho con una linea gruesa en color cobre ">
                    </a>
                </div>
                <a class="navbar-brand" href="../../index.html" class="nav-link">Dulce Petuña <br> RICOOO <br></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="./nosotros.html" class="nav-link active" aria-current="page">Sobre Petuña</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link active dropdown-toggle" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false"> Productos </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="productos.html#Nuestros Productos">Nuestros
                                        Productos</a>
                                </li>
                                <li><a class="dropdown-item" href="productos.html#Petuñas">Petuñas</a></li>
                                <li><a class="dropdown-item" href="productos.html#MiniPetuñas">Mini Petuñas</a></li>
                                <li><a class="dropdown-item" href="productos.html#Cupcakes">Cupcakes</a></li>
                                <li><a class="dropdown-item" href="productos.html#Macarons">Macarons</a></li>
                                <li><a class="dropdown-item" href="productos.html#Galletuñas">Galletuñas</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="./pedidos.html" class="nav-link active">Pedidos</a>
                        </li>

                        <li class="nav-item">
                            <a href="./contacto.html" class="nav-link active">Contacto</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <!-- inicio del main-->
    <main>
        <h1> ESCRIBINOS! ! ! </h1>



        <div class="contacto">
            <div class="textoContacto">

                <p> Contactate con nosotros ;) <br><br>
                    Te asesoramos para que tengas <br>
                    nuestros productos en tu negocio <br>
                    o mesa familiar. <br>
                </p>

            </div>
            <div class="imagenContacto">
                <img src="../images/imagen contacto.png"
                    alt="Galletitas con los distitos sabores que Doña Petuña ofrece."></a>
            </div>

            <div class="formularioContacto">
                <h5>Ponete en contacto con nosotros <br> completando el formulario.</h5>
                <form>
                    <input type="text" name="Nombre" placeholder="Nombre" required>
                    <input type="text" name="Correo" placeholder="Correo" required>
                    <input type="text" name="Telefono" placeholder="Telefono" required>
                    <input type="text" name="Website" placeholder="Website">
                    <input type="text" name="Asunto" placeholder="Asunto">
                    <textarea name="mensaje" placeholder="Contanos en que te podemos ayudar." required></textarea>
                    <input class="btn-rounded" type="button" value="ENVIAR">
                </form>
            </div>
        </div>

        <!-- inicio del footer -->
        <footer>
            <div class="redesSociales">
                <div class="instagram"><img
                        src="../images/instagram_logo_brand_social_media_application_icon_197362.png" alt="Instagram">
                </div>
                <div class="facebook"><img
                        src="../images/chatting_social_media_logo_brand_application_facebook_icon_197309.png"
                        alt="Facebook"></div>
                <div class="gmail"><img
                        src="../images/mail_email_social_media_brand_logo_website_application_icon_197316.png"
                        alt="Gmail"></div>
                <div class="whatsaap"><img
                        src="../images/calling_social_media_brand_chatting_logo_whatsapp_icon_197356.png"
                        alt="Whatsaap"></div>
            </div>
            <p>Todos los derechos reservados</p>
        </footer>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</body>

</html>