<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dulce Petuña, provee pasteleria artesanal a restaurantes, confiterias, hoteles, kioscos boutique y eventos.Producimos tortas tradicionales, cupcakes,macarons y galletas dulces.">
    <meta name="keywords" content="PASTELERIA, MESA DULCE,CHESSE CAKE,FRUTOS ROJOS, MARACUYA, CHOCOTORTA, MOUSSE DE CHOCOLATE,LEMON PIE, CUPCAKES, MACARONS GALLETAS, GALLETITAS, EVENTOS ">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Contacto DULCE PETUÑA Ricooo Escribinos, recibiras asesoramiento sobre nuestros productos.</title>
</head>

<body>
    <!-- inicio del header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div> <img src="../images/logo.png" alt="Contorno de un cupcake hecho con una linea gruesa en color cobre "></div>
                <a class="navbar-brand" href="/index.html" class="nav-link" href="#">Dulce Petuna <br> RICOOO <br></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/assets/views/nosotros.html" class="nav-link active" aria-current="page"
                                href="#">Sobre Petuña</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="/assets/views/productos.html" class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"> Productos </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="productos.html#Petuñas">Petuñas</a></li>
                                <li><a class="dropdown-item" href="productos.html#MiniPetuñas">Mini Petuñas</a></li>
                                <li><a class="dropdown-item" href="productos.html#Cupcakes">Cupcakes</a></li>
                                <li><a class="dropdown-item" href="productos.html#Macarons">Macarons</a></li>
                                <li><a class="dropdown-item" href="productos.html#Galletuñas">Galletuñas</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="/assets/views/pedidos.html" class="nav-link" href="#">Pedidos</a>
                        </li>

                        <li class="nav-item">
                            <a href="/assets/views/contacto.html" class="nav-link" href="#">Contacto</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <!-- inicio del main-->
    <main>
        <h2 class="destacado"> ESCRIBINOS! </h2>



        <div class="
        contacto">
            <div class="textoContacto">
                Contactate con nosotros ;) <br><br>
                Te asesoramos para que tengas <br>
                nuestros productos en tu negocio <br>
                o mesa familiar. <br>
            </div>
            <div class="imagenContacto">
                <a href=""><img src="../images/imagen contacto.png" alt="Se observan cinco pilitas de cuatro galletitas con los distitos sabores que Doña Petuña ofrece. "></a>
            </div>

            <div class="formularioContacto">
                <form>
                    <div>
                        <label for="nombre" class="colocar nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" placeholder="Escribe tu nombre">
                    </div>

                    <div>
                        <label for="e-mail" class="colocar email">Email</label>
                        <input type="e-mail" name="e-mail" id="e-mail" placeholder="Escribe tu E-mail">
                    </div>

                    <div>
                        <label for="telefono" class="colocar telefono">Teléfono</label>
                        <input type="telefono" name="telefono" id="telefono" placeholder="Escribe tu teléfono">
                    </div>

                    <div>
                        <label for="website" class="colocar website">Sitio web </label>
                        <input type="url" name="website" id="website" placeholder="Escribe la URL de tu sitio web">
                    </div>

                    <div>
                        <label for="asunto" class="colocar asunto">Asunto</label>
                        <input type="text" name="asunto" id="asunto" placeholder="Escribe un asunto">
                    </div>

                    <div>
                        <label for="mensaje" class="colocar mensaje">Mensaje </label>
                        <textarea name="mensaje" id="mensaje" placeholder="Dejanos tu comentario..."></textarea>
                    </div>

                    <button class="btn-rounded" name="enviar formulario" id="Enviar">
                        <p>ENVIAR</p>
                    </button>
                </form>
            </div>
        </div>

        <!-- inicio del footer -->
        <div class="redesSociales">
            <ul>
                <li><img src="./assets/images/instagram_icon-icons.com_65435.png" alt=""></li>
                <li><img src="./assets/images/fb_icon-icons.com_65434 (1).png" alt=""></li>
                <li><img src="./assets/images/gmail_icon-icons.com_65438.png" alt=""></li>
                <li><img src="./assets/images/whatsapp_icon-icons.com_65442.png" alt=""></li>
            </ul>
        </div>
        <footer class="footer">
            <p>Todos los derechos reservados</p>
        </footer>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</body>

</html>