<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Dulce Petuña</title>
</head>

<body>
    <!-- inicio del header -->
    <header>
        <nav>
            <a href="/index.html"><img class="logoCentrado" src="../images/logoDulcePetuna.png" width="50%"
                    alt="logo de la marca Dulce Petuña"></a>
            <a href="/assets/views/nosotros.html" class="menuPrincipal">DULCE PETUÑA</a>
            <a href="/assets/views/productos.html" class="menuPrincipal">PRODUCTOS</a>
            <a href="/assets/views/pedidos.html" class="menuPrincipal">PEDIDOS</a>
            <a href="/assets/views/contacto.html" class="menuPrincipal">CONTACTO</a>
            </div>
        </nav>
    </header>
    <!-- inicio del main -->
    <main>

        <h1> DULCE PETUÑA </h1>

        <div class="nosotros">
            <div class="texto1">
                <p> 
                Nosotros somos una pequeña empresa familiar, Dulce Petuña nacio en el año 1990, cuando mi madre por
                las
                tardes realizaba tortas y le compartia a nuestrs vecinos,
                despues de algunos meses, le tocaban timbre para pedirle que realice la torta de cumpleaños de algun
                familiar.
                siguio nuestro almacenero, que le pidio porciones para ofrecerle a los chicos para que se lleven al
                colegio.
                Fue entonces cuando decidimos realizar no solo tortas, sino tambien cupcakes, galletitas y macarons
                y
                afrecerlos a confiterias, kioscos boutique y restaurantes.
            </p> 
            </div>

            <div class="texto2">
                <p> 
                Actualmente proveemos a muchos restaurantes de renombre , confiterias y por supuesto a cada una de
                las famiilias que tiene un evento y quiere agasajar a sus invitados con nuestras delicias.
                Es nuestra ilusion continuar siendo parate de vuestras mesas dulcesen cada momento.
            </p> 
            </div>

            <div class="fotoMesada">
                <img src="../images/Nosostros 1.jfif" alt="foto de mesada con materia prima">
            </div>

            <div class="fotoUtensillos">
                <img src="../images/Nosotros 2.jfif" alt="foto de utensillos de cocina">

            </div>

            <div class="fotoMoldes">
                <img src="../images/Nosotros3.jfif" alt="foto de persona acomodando moldes">

            </div>

            <div class="fotoDecoracion">

               <img src="../images/Nosotros 4.jfif"
                        alt="foto de persona decorando los productos">
            </div>
        </div>

    </main>

    <!-- inicio del footer -->
    <footer>
        <p>Todos los derechos reservados</p>
    </footer>
</body>

</html>