<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>pedidos</title>
</head>

<body>
    <!-- inicio del header -->
    <header>
        <nav>
            <a href="/index.html"><img class="logoCentrado" src="../images/logoDulcePetuna.png" width="50%"
                    alt="logo de la marca Dulce Petuña"></a>
            <a href="/assets/views/nosotros.html" class="menuPrincipal">DULCE PETUÑA</a>
            <a href="/assets/views/productos.html" class="menuPrincipal">PRODUCTOS</a>
            <a href="/assets/views/pedidos.html" class="menuPrincipal">PEDIDOS</a>
            <a href="/assets/views/contacto.html" class="menuPrincipal">CONTACTO</a>
            </div>
        </nav>

    </header>

    <!-- inicio del main -->
    <main>
        <section class="ingresoUsuarios">

            <form action="" method="post" enctype="" class="formularioUsuario">
                <label for="username">Ingrese su nombre de usuario</label><br>
                <input type="text" name="username" id=""><br>
                <label for="password">Ingrese su clave</label><br>
                <input type="password" name="password" id=""><br><br>
                <button type="submit">INGRESAR A PEDIDO</button>
            </form>
        </section>
    </main>
    
       <!-- inicio del footer -->
       <footer>
        <p>Todos los derechos reservados</p>
    </footer>
</body>

</html>