<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>pedidos</title>
</head>

<body>
    <!-- inicio del header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">DULCE PETUÑA <br>Ricooo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/assets/views/nosotros.html" class="nav-link active" aria-current="page"
                                href="#">Dulce Petuña</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/assets/views/productos.html" href="./assets/views/productos.html"
                                class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Petuñas</a></li>
                                <li><a class="dropdown-item" href="#">Mini Petuñas</a></li>
                                <li><a class="dropdown-item" href="#">Cupcakes</a></li>
                                <li><a class="dropdown-item" href="#">Macarons</a></li>
                                <li><a class="dropdown-item" href="#">Galletuñas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/assets/views/pedidos.html" class="nav-link" href="#">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a href="/assets/views/contacto.html" class="nav-link" href="#">Contacto</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        
    </header>

    <!-- inicio del main -->
    <main>
        <section class="ingresoUsuarios">

            <form action="" method="post" enctype="" class="formularioUsuario">
                <label for="username">Ingrese su nombre de usuario</label><br>
                <input type="text" name="username" id=""><br>
                <label for="password">Ingrese su clave</label><br>
                <input type="password" name="password" id=""><br><br>
                <button type="submit">INGRESAR A PEDIDO</button>
            </form>
        </section>
    </main>
    
       <!-- inicio del footer -->
       <footer>
        <p>Todos los derechos reservados</p>
    </footer>
</body>

</html>