<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dulce Petuña, pasteleria artesanal. Producimos tortas tradicionales, cupcakes,macarons y galletas dulces.">
    <meta name="keywords" content="PASTELERIA, MESA DULCE,CHESSE CAKE,FRUTOS ROJOS, MARACUYA, CHOCOTORTA, MOUSSE DE CHOCOLATE,LEMON PIE, CUPCAKES, MACARONS GALLETAS, GALLETITAS, EVENTOS ">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <title> Productos DULCE PETUÑA Ricooo Conoce nuestros productos. </title>
</head>

<body>
    <!-- inicio del header
     -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div> <img src="../images/logo.png" alt="Contorno de un cupcake hecho con una linea gruesa en color cobre "></div>
                <a class="navbar-brand" href="/index.html" class="nav-link" href="#">Dulce Petuña <br> RICOOO <br></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/assets/views/nosotros.html" class="nav-link active" aria-current="page"
                                href="#">Dulce Petuña</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/assets/views/productos.html" class="nav-link dropdown-toggle" href="#"
                                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/assets/views/productos.html#Petuñas">Petuñas</a>
                                </li>
                                <li><a class="dropdown-item" href="/assets/views/productos.html#MiniPetuñas">Mini Petuñas</a></li>
                                <li><a class="dropdown-item" href="/assets/views/productos.html#Cupcakes">Cupcakes</a>
                                </li>
                                <li><a class="dropdown-item" href="productos.html#Macarons">Macarons</a></li>
                                <li><a class="dropdown-item"
                                        href="/assets/views/productos.html#Galletuñas">Galletuñas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/assets/views/pedidos.html" class="nav-link" href="#">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a href="/assets/views/contacto.html" class="nav-link" href="#">Contacto</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h3 class="nuestrosProductos">
            NUESTROS PRODUCTOS
        </h3>
        <div class="container-fluid ">
            <div class="row justify-content-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../images/petuñas.jpg" class="img-fluid rounded-start" alt="Imagen de los cinco tipos de tortas que ofrecemos, cheese cake de frutos rojos, cheese cake de maracuya, chocotorta, mousse de chocolate y lemon pie ">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title " id="Petuñas">Petuñas</h5>
                                <p class="card-text">
                                    PETUÑAS <br> Nuestras Petuñas son tortas tradicionales <br>
                                    Cheese Cake de frutos Rojo: Base crocante, crema de limon y salsa de frutos rojos.
                                    <br>
                                    Cheese Cake de Maracuya: Base crocante, crema pastelera y salsa de maracuya. <br>
                                    Chocotorta: Capas de conocidas galletitas de chocolate,  crema de queso untable y dulce de leche.
                                    <br>
                                    Mousse de Chocolate: Masa de chocolate y nueces molidas, dulce de leche, crema y ganache de chocolate como cobertura. <br>
                                    Lemon Pie:Masa sable dulce con crema de limon y merengue italiano. <br></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../images/minipertus.jpg" class="img-fluid rounded-start" alt="Imagen de los cinco tipos de minitortas que ofrecemos, cheese cake de frutos rojos, cheese cake de maracuya, chocotorta, mousse de chocolate y lemon pie">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="MiniPetuñas">Mini Petuñas</h5>
                                <p class="card-text"> MINI PETUÑAS <br> Las mini Petuñas son nuestras tortas
                                    tradicionales individuales <br>
                                    Cheese Cake de frutos Rojo :Base crocante, crema de limon y salsa de frutos rojos.
                                    <br>
                                    Cheese Cake de Maracuya: Base crocante, crema pastelera y salsa de maracuya. <br>
                                    Chocotorta: Capas de conocidas galletitas de chocolate, crema de queso untable y dulce de leche.
                                    <br>
                                    Mousse de Chocolate: Masa de chocolate y nueces molidas, dulce de leche, crema y ganache de chocolate como cobertura . <br>
                                    Lemon Pie Masa sable dulce con crema de limon y merengue italiano. <br> </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../images/cupcakes.jpg" class="img-fluid rounded-start" alt="Imagen de los cinco tipos de cupcakes que ofrecemos, de Frutilla, Oreo, Moka, Crema del cielo y Chispas.">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="Cupcakes">Cupcakes</h5>
                                <p class="card-text"> CUPCAKES <br> Hechos con las recetas de muchas abuelas y el mismo
                                    amor <br>
                                    Cupcake de frutilla: Masa Red Belbet, relleno de mermelada de frutillas y frutillas
                                    naturales. <br>
                                    Cupcake Oreo: Masa esponjada marmolada, relleno de crema Oreo y galletitas Oreo. <br>
                                    Cupcake Moka: Masa de chocolate, relleno de dulce de leche y crema sabor cafe. <br>
                                    Cupcake Crema del cielo: masa de vainilla humedecida con licor y relleno de crema
                                    pastelera.
                                    <br>
                                    Chispas: Masa esponjada de vainilla con lentejas de chocolate, relleno de crema de avellanas y chocolate<br> </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../images/macarons.jpg" class="img-fluid rounded-start" alt="Imagen de los cuatro tipos de macarons que ofrecemos, se ven en platos, los diferentes sabores: Frutilla, Frutos Rojos, Limon y Pistacho.">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="Macarons">Macarons</h5>
                                <p class="card-text"> MACARONS <br> Livianos y suaves macarons, <br>
                                    Galleta crujiente por fuera y blanda por dentro, rellenas con suave crema de
                                    manteca. <br>
                                    Sabores: Frutilla, Frutos Rojos, Limon y Pistacho: <br> </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../images/galletuñas.png" class="img-fluid rounded-start" alt="Imagen de los tres tipos de galletitas que ofrecemos, pilitas de galletitas de vainilla con chips de chocolate, de naranja rellenas bañadas en chocolate amargo cobertura y galletitas sandwitch con crema de manzanas en ele medio.  ">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="Galletunas">Galletuñas</h5>
                                <p class="card-text"> GALLETUNAS <br>
                                  Galletas de naranja rellenas de crema de chocolate
                                    y banadas con chocolate cobertura <br>
                                    Galletas de vainilla con chips de chocolate <br>
                                    Galletas de canela, los sandwichitos de Doña Petuña! en el medio una suave crema sabor manzana</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- inicio del footer -->
        <section class="redesSociales">
            <ul>
                <li>Whatsapp</li>
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>
        </section>
        <footer>
            <p>Todos los derechos reservados</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</body>

</html>