<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Productos </title>
</head>

<body>
    <!-- inicio del header
     -->
    <header>
        <nav id="gradiente">
            <a href="/index.html"><img class="logoCentrado" src="../images/logoDulcePetuna.png" width="50%"
                    alt="logo de la marca Dulce Petuña"></a>
            <a href="/assets/views/nosotros.html" class="menuPrincipal">Dulce Petuna</a>
            <a href="/assets/views/productos.html" class="menuPrincipal">Productos</a>
            <a href="/assets/views/pedidos.html" class="menuPrincipal">Pedidos</a>
            <a href="/assets/views/contacto.html" class="menuPrincipal">Contacto</a>
            </div>
        </nav>
    </header>
    <main>
        <h3 class="nuestrosProductos">
            NUESTROS PRODUCTOS
        </h3>
        <section class="reseñaProductos">
            <div class="petunas">
                <h3 class="titulo">Petuñas</h3>
                <p class="textoPetunas">
                    Nuestras Petuñas son tortas tradicionales <br>
                    Cheese Cake de frutos Rojo:Base crocante, crema de limon y salsa de frutos rojos. <br>
                    Cheese Cake de Maracuya:Base crocante, creama pastelera y salsa de maracuya. <br>
                    Chocotorta:Capas de galletitas de chocolate ycrema de queso untabley dulce de leche. <br>
                    Mousse de Chocolate: Masa de chocolate y nueces molidas, dulce de leche, crema y chocolate
                    de cobertura. <br>
                    Lemon Pie:Masa sable dulce con crema de limon y merengue italiano. <br>
                </p>
            </div>
            <div class="imgPetunas">
                <img src="../images/petuñas.jpg" alt="foto de las variedades detortas ">
            </div>

            <div class="miniPetunas">
                <h3 class="titulo">Mini Petuñas</h3>
                <p class="textoMiniPetunas">
                    Las mini Petuñas son nuestras tortas tradicionales individuales <br>
                    Cheese Cake de frutos Rojo:Base crocante, crema de limon y salsa de frutos rojos. <br>
                    Cheese Cake de Maracuya:Base crocante, creama pastelera y salsa de maracuya. <br>
                    Chocotorta:Capas de galletitas de chocolate ycrema de queso untabley dulce de leche. <br>
                    Mousse de Chocolate: Masa de chocolate y nueces molidas, dulce de leche, crema y chocolate
                    de cobertura. <br>
                    Lemon Pie:Masa sable dulce con crema de limon y merengue italiano. <br>
                </p>
            </div>
            <div class="imgMiniPetunas">
                <img src="../images/minipertus.jpg" alt="foto de las variedades de minitortas">
            </div>
          
            <div class="cupcake">
                <h3 class="titulo">Cupcakes</h3><br>
                <p class="textoCupcake">
                    Hechos con las recetas de muchas abuelas y el mismo amor <br>
                    Cupcake de frutilla: Masa Red Belbet, relleno de mermelada de frutillas y frutillas
                    naturales. <br>
                    Cupcake Oreo: Masa esponjada marmolada, relelno de crema Oreo ygalletitas oreo. <br>
                    Cupcake Moka: Masa dechocolate, relleno de dulce de leche y crema sabor cafe. <br>
                    Cupcake Crema del cielo: masa de vainilla humedecida con licor y relleno de crema pastelera.
                    <br>
                    Chispas: Masa esponjada de vainilla con lentejas de chocolate, relleno de crema de avellanas
                    y chocolate<br>
                </p>
            </div>
            <div class="imgCupcake">
                <img src="../images/cupcakes.jpg" alt="foto de las variedades de cupcakes">
            </div>

            <div class="macarons">
                <h3 class="titulo">Macarons</h3>
                <p class="textoMacarons">
                    Livianos y suaves macarons, <br>
                    Galleta crujiente por fuera y blanda por dentro, rellenas con suave crema de manteca. <br>
                    Sabores: Frutilla, Frutos Rojos, Limon y Pistacho: <br>
                </p>
            </div>
            <div class="imgMacarons">
                <img src="../images/macarons.jpg"alt="foto de las variedades de macarons">
            </div>

            <div class="galletunas">
                <h3 class="titulo">Galletuñas</h3>
                <p class="textoGalletunas">
                    Galletitas divertidas, colores brillantes simples o rellenas, <br>
                    Sabores: Vainilla y Chocolate. <br>
                </p>
            </div>
            <div class="imgGalletunas">
                <img src="../images/galletuñas.jpg" alt="foto de las variedades de galletitas">
            </div>

        </section>

        <!-- inicio del footer --> 
        <footer>
            <p>Todos los derechos reservados</p>
        </footer>

</body>

</html>