
h2 {
    color: pink;
    font-weight: bold;
    font-size: large;
    text-align: center;
    transition: 3s ease-in-out;
}


.contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "imagenContacto textoContacto"
        "formularioContacto formularioContacto";
}

.imagenContacto {
    grid-area: imagenContacto;

    img {
        width: 100%;
    }
}

.textoContacto {
    grid-area: textoContacto;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color: #363838;
    padding: 45px;
}

.formularioContacto {
    grid-area: formularioContacto;
    text-align: center;
    padding: 2em;
    background-color:white;
    color:pink;
    font-size: large;
}