/*main contacto*/
.contacto {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "imagenContacto textoContacto"
        "formularioContacto formularioContacto";
    margin: 1rem;
    gap: 1rem;
}

.imagenContacto {
    grid-area: imagenContacto;

    img {
        width: 100%;
    }
}

.textoContacto {
    grid-area: textoContacto;
    font-size: xx-large;
    padding: 30px;
    margin-top: 0em;
}

.formularioContacto {
    grid-area: formularioContacto;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 410px;
}