.ingresoUsuarios {
    background-image: url("../../assets/images/ingreso\ usuario.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.formularioUsuario {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
}
/* de aca */
/*aqui no me doy cuenta si tengo que hacer nesty o usar &*/
.ingresoUsuario form {
    gap: 1rem;
}

.ingresoUsuario form label {
    font-size: 1.2em;
}

.ingresoUsuario .form input {
    padding: 1rem;
    border-radius: 10px;
    width: 30px;
    transition: width 6s linear;
}

.ingresoUsuario :focus {
    width: 30px;
}

.btn-rounded {
    @extend .btn-more;
    width: 150px;
    height: 50px;
}
