/*main pedidos*/

.pedidos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        " textoPedidos imagenPedidos"
        "formularioPedidos imagenPedidos";
}

.imagenPedidos {
    grid-area: imagenPedidos;

    img {
        width: 100%;
    }
}

.textoPedidos {
    grid-area: textoPedidos;
    font-size: xx-large;
    padding: 30px;
    margin-top: 0em;
}

.formularioPedidos {
    grid-area: formularioPedidos;
}

.ingresoUsuarios {
    background-image: url("../../assets/images/ingreso\ usuario.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.formularioUsuario {
    font-size: large;
    padding-top: 10em;
    padding-bottom: 10em;
}
