/*Normalize */

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Variables */

:root {
    --font: open+sans;
    --principal: #FFFFFF;
    --secondary: black;
    --text-lg: 2em;
    --text-md: 1.8em;
}

/*globals*/

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary);
}

ul {
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/*header  barra de navegacion todas las paginas*/

.menuPrincipal {
    display: inline-block;
    background-color: #FFFFFF;
    color: black;
    font-size: small;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;
}

.menuPrincipal:hover {
    color: rgb(212, 149, 112);
}

nav {
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


/*main home*/

.contenedor {
    background-image: url(../images/backinicioazul.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    margin-bottom: 20px;
}

.textoEncima {
    width: 25em;
    height: 12.5em;
    padding: 60px;
    text-align: left;
    font-size: large;
    font-style: normal;

}

.textoEncima p {
    margin: 5px;
    padding: 20px;
    color: whitesmoke;

    background-color: rgba(55, 211, 238, 0.26);
}


/*main Dulce Petuna*/

h1 {
    color: rgb(212, 149, 112);
    font-weight: bold;
    font-size: large;
    text-align: center;
    transition: 3s ease-in-out;
}

.nosotros {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "fotoMesada fotoUtensillos texto1 texto1"
        "texto2 texto2 fotoMoldes fotoDecoracion";
}

.fotoMesada {
    grid-area: fotoMesada;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fotoUtensillos {
    grid-area: fotoUtensillos;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fotoMoldes {
    grid-area: fotoMoldes;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fotoDecoracion {
    grid-area: fotoDecoracion;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.texto1 {
    grid-area: texto1;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.texto2 {
    grid-area: texto2;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nosotros div {
    background-color: #ecf0f1;
    padding: 1em;
}

.nosotros img {
    width: 100%;
}


/*main productos*/

.nuestrosProductos {
color: rgb(212, 149, 112);
font-weight: bold;
font-size: large;
text-align: center;
transition: 3s ease-in-out;
}



.reseñaProductos {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "imgPetunas petunas"
        "miniPetunas imgMiniPetunas"
        "imgCupcake cupcake"
        "macarons imgMacarons"
        "imgGalletunas galletunas";
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}

.petunas {
    grid-area: petunas;
    font-size: medium;
    background-color: lightpink;

}

.imgPetunas {
    grid-area: imgPetunas;
    background-color: rgba(255, 182, 193, 0.87);
}

.imgPetunas img {
    width: 30%;
}

.miniPetunas {
    grid-area: miniPetunas;
    background-color: rgba(255, 182, 193, 0.699);
}

.imgMiniPetunas {
    grid-area: imgMiniPetunas;
    background-color: rgba(255, 182, 193, 0.664);
}

.imgMiniPetunas img {
    width: 50%;
}

.cupcake {
    grid-area: cupcake;
    background-color: rgba(255, 182, 193, 0.575);
}

.imgCupcake {
    grid-area: imgCupcake;
    background-color: rgba(255, 182, 193, 0.363);
}

.imgCupcake img {
    width: 30%;
}

.macarons {
    grid-area: macarons;
    background-color: rgba(255, 182, 193, 0.315);
}

.imgMacarons {
    grid-area: imgMacarons;
    background-color: rgba(255, 182, 193, 0.274);
}

.imgMacarons img {
    width: 35%;
}

.galletunas {
    grid-area: galletunas;
    background-color: rgba(255, 182, 193, 0.103);
}

.imgGalletunas {
    grid-area: imgGalletunas;
    background-color: rgba(255, 182, 193, 0.048);
}

.imgGalletunas img {
    width: 50%;
}

div p {
    font-size: medium;
}

div .titulo {
    font-weight: bold;
    font-size: x-large;
    color: rgb(212, 149, 112);
}



/*main pedidos*/
.ingresoUsuarios {
    background-image: url(../images/ingreso\ usuario.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.formularioUsuario {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
}

.ingrsoUsuario form {
    gap: 2rem;
}

.ingresoUsuario form label {
    font-size: 1.2em;
}

.ingresoUsuario .form input {
    padding: 1rem;
    border-radius: 10px;
    width: 30px;
    transition: width 6s linear;
}

.ingresoUsuario :focus {
    width: 30px;
}


/*main contacto*/
h2 { 
     color: rgb(212, 149, 112);
    font-weight: bold;
    font-size: large;
    text-align: center;
    transition: 3s ease-in-out;
}


.contacto {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "imagenContacto textoContacto"
        "formularioContacto formularioContacto";
}

.imagenContacto {
    grid-area: imagenContacto;
    background-color: rgb(26, 3, 3);
}

.imagenContacto img {
    width: 100%;
}

.textoContacto {
    grid-area: textoContacto;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    background-color: rgb(26, 3, 3);
    color: #ecf0f1;
    padding: 45px;
}

.formularioContacto {
    grid-area: formularioContacto;
    text-align: center;
    padding: 2em;
    background-color: rgb(26, 3, 3);
    color: rgb(212, 149, 112);
    font-size: large;
}


/* footerComun*/
footer p {
    color: #000;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}


/*Responvive */
@media (max-width: 720px) {
    nav {
        flex-direction: column;
    }

    .menuPrincipal {
        margin: 10px 0;
    }

    .contenedor {
        background-image: url(../images/inicio720.jpg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: auto;
        background-size: cover;
    }

    .textoEncima p {
        margin: 5px;
        padding: 40px;
        color: #000;
        background-color: rgba(184, 128, 167, 0.384);
    }


    .nosotros {
        grid-template-columns: 50% 1fr;
        grid-template-areas:
            "fotoMesada  texto1 "
            "fotoUtensillos texto1"
            "texto2 fotoMoldes "
            "texto2 fotoDecoracion ";
    }

    .reseñaProductos {
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:
            "imgPetunas petunas petunas"
            "miniPetunas  miniPetunas imgMiniPetunas"
            "imgCupcake cupcake cupcake "
            "macarons  macarons imgMacarons"
            "imgGalletunas galletunas galletunas ";
    }

    .imgPetunas img {
        width: 100%;
        background-color: #d9a7c7;
    }

    .imgMiniPetunas img {
        width: 100%;
    }

    .imgCupcake img {
        width: 100%;
    }

    .imgMacarons img {
        width: 100%;
    }

    .imgGalletunas img {
        width: 100%;
    }

    .ingresoUsuarios {
        background-image: url(../images/usuario720.jpg);

        width: 100%;
    }

    .formularioUsuario {
        color: bisque;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    .menuPrincipal {
        margin: 10px 0;
    }

    .contenedor {
        background-image: url(../images/uffa.jpg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: auto;
        background-size: cover;
    }

    .textoEncima p {
        margin: 20px;
        padding: 20px;
        color: black;
        background-color: rgba(214, 185, 206, 0.384);
    }


    .nosotros {
        grid-template-columns: auto;
        grid-template-areas:
            "fotoMesada "
            "fotoMoldes"
            "texto1 "
            " texto1"
            "texto2  "
            "texto2 "
            "fotoUtensillos"
            "fotoDecoracion ";
    }

    .reseñaProductos {
        grid-template-columns: auto;
        grid-template-areas:
            "petunas"
            "imgPetunas"
            "miniPetunas "
            "imgMiniPetunas"
            "cupcake"
            "imgCupcake"
            "macarons "
            "imgMacarons"
            " galletunas"
            "imgGalletunas";
    }

    .ingresoUsuarios {
        background-image: url(../images/usuario480a.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .contacto {
        grid-template-columns: auto;
        grid-template-areas:
            "imagenContacto"
            "textoContacto"
            "formularioContacto";
    }

}


@keyframes fonts {
    0% {
        font-family: Arial, Helvetica, sans-serif;
        color: orange;
    }

    25% {
        font-family: cursive;
        color: aquamarine;
    }

    50% {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: red;
    }

    75% {

        font-family: 'Times New Roman', Times, serif;
        color: blue;
    }

    100% {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: green;
    }
}


h1:hover {
    color: rgb(68, 27, 5);
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: cursive;
    transition: 02s ease-in-out;
}

.nuestrosProductos:hover {
    color: rgb(68, 27, 5);
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: cursive;
    transition: 02s ease-in-out;
}

h2:hover {
    color: rgb(68, 27, 5);
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: cursive;
    transition: 02s ease-in-out;
}



/*sarasa*/
h2:hover :hover {
    color: rgb(112, 103, 98);
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
