/*Normalize */

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Variables */

:root {
    --font: open+sans;
    --principal: #FFFFFF;
    --secondary: black;
    --text-lg: 2em;
    --text-md: 1.8em;
}

/*globals*/

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary);
}

ul {
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/*header  barra de navegacion todas las paginas*/

.container-fluid {
    display: inline-block;
    color: black;
    font-size: small;
    font-weight: bold;
    padding: 5px 30px;
    text-decoration: none;

}

.container-fluid:hover {
    color: rgb(212, 149, 112);
}

navbar navbar-expand-lg navbar-light bg-light {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


/*main home*/



/*main Dulce Petuna*/

h1 {
    color: rgb(212, 149, 112);
    font-weight: bold;
    font-size: large;
    text-align: center;
    transition: 3s ease-in-out;
}

.nosotros {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "fotoMesada fotoIngredientes texto1 texto1"
        "fotoMoldes fotoDecoracion texto1 texto1"
        "texto2 texto2 fotoProductoTerminado fotoProductoTerminado";
}

.fotoMesada {
    grid-area: fotoMesada;

}

.fotoIngredientes {
    grid-area: fotoIngredientes;
}

.fotoMoldes {
    grid-area: fotoMoldes;
}

.fotoDecoracion {
    grid-area: fotoDecoracion;
}

.fotoProductoTerminado {
    grid-area: fotoProductoTerminado;
}


.texto1 {
    grid-area: texto1;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.texto2 {
    grid-area: texto2;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.nosotros div {
    background-color:#FFFFFF;
    padding: 1em;
}

.nosotros img {
    width: 100%;
}


/*main productos*/

.nuestrosProductos {
    color: rgb(212, 149, 112);
    font-weight: bold;
    font-size: large;
    text-align: center;
    transition: 3s ease-in-out;
}

h5 {
    color:black#FFFFFF;
    font-size: large;
    font-weight: bold;
}


p {
    color: black;
    font-size: large;
    font-weight: lighter;
}

div p {
    font-size: medium;
}

div .titulo {
    font-weight: bold;
    font-size: large;
    color: rgb(212, 149, 112);
}

.continer {
    display: flex;
    align-items: center;
    justify-content: center;
}



/*main pedidos*/
.ingresoUsuarios {
    background-image: url(../images/ingreso\ usuario.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.formularioUsuario {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
}

.ingrsoUsuario form {
    gap: 1rem;
}

.ingresoUsuario form label {
    font-size: 1.2em;
}

.ingresoUsuario .form input {
    padding: 1rem;
    border-radius: 10px;
    width: 30px;
    transition: width 6s linear;
}

.ingresoUsuario :focus {
    width: 30px;
}

.usuario {
    background-image: url(../images/ingreso\ usuario.png);
    background-size: cover;
    text-align: center;
    padding-top: 20em;
    padding-bottom: 20em;
}

.UsuarioBoo {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
    width: 25%;
    text-align: center;
    padding: 5px;
}

/*main contacto*/
h2 {
    color: rgb(212, 149, 112);
    font-weight: bold;
    font-size: large;
    text-align: center;
    transition: 3s ease-in-out;
}


.contacto {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "imagenContacto textoContacto"
        "formularioContacto formularioContacto";
}

.imagenContacto {
    grid-area: imagenContacto;
    background-color: #FFFFFF;
}

.imagenContacto img {
    width: 100%;
}

.textoContacto {
    grid-area: textoContacto;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    background-color:#FFFFFF;
    color: #363838;
    padding: 45px;
}

.formularioContacto {
    grid-area: formularioContacto;
    text-align: center;
    padding: 2em;
    background-color:#FFFFFF;
    color: rgb(212, 149, 112);
    font-size: large;
}


/* footerComun*/
footer p {
    color: #000;
    font-size: medium;
    font-weight: lighter;
    text-align: center;
    padding-top: 25px;
}


/*Responvive */
@media (max-width: 900px) {
    .nosotros {
        grid-template-columns: 50% 1fr;
        grid-template-areas:
            "fotoMesada  texto1 "
            "fotoIngredientes texto1"
            " fotoMoldes fotoDecoracion"
            "texto2 texto2"
            "fotoProductoTerminado fotoProductoTerminado";
    }

    .reseñaProductos {
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:
            "imgPetunas petunas petunas"
            "miniPetunas  miniPetunas imgMiniPetunas"
            "imgCupcake cupcake cupcake "
            "macarons  macarons imgMacarons"
            "imgGalletunas galletunas galletunas ";
    }

    .imgPetunas img {
        width: 100%;
        background-color: #d9a7c7;
    }

    .imgMiniPetunas img {
        width: 100%;
    }

    .imgCupcake img {
        width: 100%;
    }

    .imgMacarons img {
        width: 100%;
    }

    .imgGalletunas img {
        width: 100%;
    }

    .ingresoUsuarios {
        background-image: url(../images/ingreso\ usuario.png);
    }

    .formularioUsuario {
        color: bisque;
    }

    .contacto {
        grid-template-columns: auto;
        grid-template-areas:
            "imagenContacto"
            "textoContacto"
            "formularioContacto";
    }

}
@media (max-width: 720px) {
    .nosotros {
        grid-template-columns: 50% 1fr;
        grid-template-areas:
            "fotoMesada  fotoIngredientes "
            "fotoMoldes fotoDecoracion"
            " texto1 texto1"
            "texto1 texto1 "
            "texto2 texto2"
            "fotoProductoTerminado fotoProductoTerminado";
    }

    

@media (max-width: 480px) {
    .nosotros {
        grid-template-columns: auto;
        grid-template-areas:
            "fotoMesada "
            "fotoIngredientes"
            "fotoMoldes"
            "fotoDecoracion "
            "texto1 "
            "texto1"
            "texto2  "
            "texto2 "
            "fotoProductoTerminado";
    }

    .reseñaProductos {
        grid-template-columns: auto;
        grid-template-areas:
            "petunas"
            "imgPetunas"
            "miniPetunas "
            "imgMiniPetunas"
            "cupcake"
            "imgCupcake"
            "macarons "
            "imgMacarons"
            " galletunas"
            "imgGalletunas";
    }

    .ingresoUsuarios {
        background-image: url(../images/ingreso\ usuario.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    

}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #FFFFFF;
    }

    to {
        border-right-color: transparent;
    }
}

html {
    min-height: 100%;

}

body {
    height: calc(100vh - 8em);
    padding: 4em;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bold;

}

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid #FFFFFF;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-50%);
    overflow-x: hidden;
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
    padding-top: 50px;
}

h1:hover {
    color: rgb(68, 27, 5);
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: cursive;
    transition: 02s ease-in-out;
}

.nuestrosProductos:hover {
    color: rgb(68, 27, 5);
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: cursive;
    transition: 02s ease-in-out;
}

h2:hover {
    color: rgb(68, 27, 5);
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: cursive;
    transition: 02s ease-in-out;
}