.container-fluid {
    display: inline-block;
    color: black;
    font-size: small;
    font-weight: bold;
    padding: 5px 30px;
    text-decoration: none;

}

.container-fluid:hover {
    color: rgb(212, 149, 112);
}

navbar navbar-expand-lg navbar-light bg-light {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


