$font: open+sans;
$background-principal: white;
$color-secondary: black;
$color-tertiary: pink;
$text-lg: 2em;
$text-md: 1.8em;

/*mixins*/
@mixin texto ($font-size, $line-height, $color){
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    padding:2px; /*pueden no ser variables*/
}

/*map*/
$paleta: (
    'uno': white,
    'dos': black,
    'tres': pink,
);